.content {
  padding: 0.5em 0.75em;
  color: var(--color-fg-on-emphasis);
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  background: var(--bgColor-emphasis, var(--color-neutral-emphasis-plus));
  border-radius: 6px;
  max-width: 250px;
  word-wrap: break-word;
  white-space: normal;
  width: max-content;
}

.arrow {
  fill: var(--color-neutral-emphasis-plus);
}
