.root {
  width: 300px;
  padding: 8px 16px;
  display: grid;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

.githubIcon {
  width: 20px;
  height: 20px;
}

.inputLabel {
  width: inherit !important;
  display: grid !important;
  gap: 8px !important;
}

.inputControl {
  display: grid;
  gap: 8px;
}
