.root {
  background-color: initial;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 0;
  padding: initial;
  border: initial;
  background-color: white;
  width: 16px;
  height: 16px;
  border-radius: 3px;
}
